* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  background-color: #f0f1f4;
  color: #060e27;
  width: 100%;
  margin: 0 auto;
  line-height: 2.2rem;
}

a {
  color: #0e2466;
}

h1 {
  font-family: 'Ramabhadra', sans-serif;
  text-transform: uppercase;
  font-size: 7vw;
  color: #0e2466;
}

h2 {
  font-family: 'Ramabhadra', sans-serif;
  font-size: 1.8rem;
  color: #0e2466;
  padding: 1.5rem 0;
}

h3 {
  font-family: 'Ramabhadra', sans-serif;
  font-size: 1.5rem;
  color: #0e2466;
  padding: 1.5rem 0;
}

h4 {
  font-family: 'Ramabhadra', sans-serif;
  font-size: 1.2rem;
  color: #0e2466;
}

header {
  text-align: center;
  margin: 50px;
}


section {
  padding: 30px 15%;
}

.portfolio {
  background-color: #060e27;
  color: #f0f1f4;
}

.portfolio h2, .portfolio h3, .portfolio h4 {
  color: #f0f1f4;
}

.project {
}

ul {
  list-style-type: none;
}

.about {
  color: #f0f1f4;
  background-color: #0e2466;
}

.about h2 {
  color: #f0f1f4;
}

footer {
  background-color: #f0f1f4;
  margin: 30px;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 0.1rem;
}